<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a3ffec">  <td>18/12/30 19:05:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterMethod()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/30 19:05:29</td>   <td>99</td> <td title="&lt;&lt;ProjectMethods.afterSuite()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&lt;&lt;afterSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/30 19:05:29</td>   <td>23</td> <td>&nbsp;</td><td title="&lt;&lt;ProjectMethods.afterTest()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/30 19:04:58</td>   <td>-30452</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeClass()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/30 19:04:58</td>   <td>-30447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;ProjectMethods.beforeMethod()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="a3ffec">  <td>18/12/30 19:04:58</td>   <td>-30664</td> <td title="&gt;&gt;ProjectMethods.beforeSuite()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&gt;&gt;beforeSuite</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/30 19:04:58</td>   <td>-30456</td> <td>&nbsp;</td><td title="&gt;&gt;TestCase_mi.setData()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">&gt;&gt;setData</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1740189450</td>   <td></td> </tr>
<tr bgcolor="c7a4e4">  <td>18/12/30 19:05:11</td>   <td>-17467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestCase_mi.setUp()[pri:0, instance:project.flipkart.mi.TestCase_mi@617faa95]">setUp</td> 
  <td>main@1740189450</td>   <td></td> </tr>
</table>
